<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="{{ site.baseurl }}/">Home</a></li>
            <li><a href="{{ site.baseurl }}/index#intro">Behind Atlantico Yoga</a></li>
            <li><a href="{{ site.baseurl }}/masque">Much more than...</a></li>
            <li><a href="{{ site.baseurl }}/index#service">Classes</a></li>
          <!--  <li><a href="{{ site.baseurl }}/blog">Blog</a></li>-->
            <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
            <li><a href="{{ site.baseurl }}/atlanticoyoga">ES</a></li>
            <li><a href="{{ site.baseurl }}/">EN</a></li>
          </ul>
        </div>
        <p>Copyright &copy; Design &amp; Developed by <a href="http://www.themefisher.com">Themefisher</a>. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
